body {
    margin: 0;
    padding: 0;
}

.header {
    width: auto;
    height: auto;
    background: white;
    /* 헤더 아래에 얇은 실선 */
    /*border는 선을 넣어주는 속성*/
    border-bottom: 1px solid lightgray;
}

.container {
    width: 980px;
    /* header의 중앙으로 이동 */
    margin: auto;
}

/*padding은 효과를 볼 수 있는 가장 안의 요소에 넣는 것이 좋음 */
.container-left {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    float: left;
    margin-right: 5px;
}

/*img아래에 빈 공간을 제거,
  html 위치와 비슷하게 작성,
  먼저 logo라는 클래스 요소를 찾고 그안에 하위요소 중 img태그를 찾아내라*/
.logo img {
    display: block;
}

.menu {
    float: left;
}

.menu-item {
    /*수평 레이아웃 만듦*/
    float: left;

    /*수직 가운데 정렬*/
    padding: 8px 10px;
    /*
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    */
}

.clearfix::after { 
    content: "";
    display: block;
    clear: both;
}